<div id="login-form">
  <h2>Log In</h2>

  <br /><br /><br />
  <form action="/auth/login" method="POST">

    <label for="email">Email: </label>
    <input type="email" name="email" placeholder="Your email" />

    <br /><br />
    <label for="password">Password: </label>
    <input type="password" name="password" placeholder="Your password" />

    <br /><br /><br />
    <div id="login-button">
      <button type="submit">Log In</button>
    </div>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>