<div id="signup-form">
  <h2>Sign Up</h2>

  <br /><br /><br />
  <form action="/auth/signup" method="POST">

    <label for="username">Username: </label>
    <input type="text" name="username" placeholder="Your username" />

    <br /><br />
    <label for="email">Email: </label>
    <input type="email" name="email" placeholder="Your email" />

    <br /><br />
    <label for="password">Password: </label>
    <input type="password" name="password" placeholder="Your password" />

    <br /><br /><br />
    <div id="signup-button">
      <button type="submit">Create new account</button>
    </div>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>