<div class="song-tab">
  <h4 class="song-tab-artist">Artist Here</h4>
  <h3 class="song-tab-title">Another Song Title Three here</h3>
  <img
    src="/public/images/repeat_all.svg"
    alt="repeat button"
    class="song-tab-repeat-all"
  />
  <img
    src="/public/images/repeat_self.svg"
    alt="repeat button"
    class="song-tab-repeat-self"
  />
  <audio controls src="" class="song-tab-audio"></audio>
</div>