<h1>HOME</h1>

<div class="eachCard">
    {{#each currentUser.folderId}}
        {{> playlistFolderPartial}}
    {{/each}}
</div>
<br /><br /><br />
<a href="/create-playlist"><button>Create a new playlist</button></a>