<section class="song-block">
  <h1>Create playlist</h1>

  <form action="/create-playlist" method="post" enctype="multipart/form-data">
    <label for="name">Name:</label>
    <input
      type="text"
      name="name"
      class="create-name"
      placeholder="Insert Name"
      required
    />
    <br /><br />

    <label for="image">Image:</label>
    <input type="file" name="image" id="image" />
    <br />

    <div class="create-button">
      <button type="submit">Create Playlist</button>
    </div>

  </form>
  <a href="/home" class="goback-home-button">Go back</a>
</section>