<section class="container__tracks">
  <h1>Create playlist</h1>

  {{myProfile.display_name}}
  <img src="{{myProfile.images.0.url}}" alt="" />

  <form action="/create-playlist" method="post" enctype="multipart/form-data">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required />

    <label for="image">Image:</label>
    <input type="file" name="image" id="image" />

    <button type="submit">Create Playlist</button>

  </form>

  <br /><br />
  <a href="/home" class="goback-home-button">Go back</a>
</section>