<h1>Create playlist</h1>

<form action="/create-playlist" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" />

  <label for="image">Image:</label>
  <input type="file" name="image" id="image" />

  <input type="text" name="{{User.folderId}}" id="image" hidden />

  <button type="submit">Create Playlist</button>

</form>

<footer>
  <div id="content">
    <div id="range">
      <input type="range" id="range-val" value="46" min="0" max="143" />
      <div id="tip">Some tip</div>
    </div>
    <div id="time">
      <p>0:46</p>
    </div>
    <div id="buttons">
      <i class="fa fa-repeat"></i>
      <i class="fa fa-step-backward fa-2x"></i>
      <i class="fa fa-pause fa-2x step"></i>
      <i class="fa fa-step-forward fa-2x"></i>
      <i class="fa fa-random"></i>
    </div>
    <div id="total-time">
      <p>2:22</p>
    </div>
  </div>
</footer>