<section class="folder-page">
  <div class="folder-page-header">
    <h1 id="folder-page-title">{{folder.name}}</h1>
  </div>


  <div class="eachSong">
    {{#each folder.song}}      
        {{>playlistSongPartial}}
    {{/each}}
  </div>

  <br /><br />
  <a href="/home" class="goback-home-button">Go back</a>
</section>