<h1>Create playlist</h1>

<form action="/create-playlist" method="post" enctype="multipart/form-data">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" required />

  <label for="image">Image:</label>
  <input type="file" name="image" id="image" />

  <button type="submit">Create Playlist</button>

</form>