<h1>Sub Playlist: {{folder.name}}</h1>

<div class="eachCard">
  {{#each currentFolder.playlist}}
      {{> playlistSubFolderPartial}}
  {{/each}}
</div>
<br /><br /><br />
<a
  href="/playlist/{{folder._id}}/create-playlist"
  {{!-- id="{{_id}}" --}}
><button>Create a sub playlist</button></a>