<h1>Playlist: {{folder.name}}</h1>

<div class="eachCard">
  {{!-- {{#each thisUser.folderId}}
        {{> playlistFolderPartial}}
    {{/each}} --}}
</div>
<br /><br /><br />
<a
  href="/playlist/{{folder._id}}/create-playlist"
  {{!-- id="{{_id}}" --}}
><button>Create a sub playlist</button></a>