body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-image: url(https://res.cloudinary.com/datglss57/image/upload/v1677155153/inception/image_soqxua.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#nav-top nav {
  padding: 0.5rem 2rem;
  padding-top: 0.5rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  transition: background 0.3s ease-in, color 0.3s ease-in;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-in, ease-in;
  transition-delay: 0s, 0s;
  transition-property: background, color;
}

.bg-semi-light {
  background-color: rgba(255, 255, 255, 0.85);
}
.text-dark {
  color: #343a40 !important;
}

/*//////////////////////// NAV-BAR \\\\\\\\\\\\\\\\\\\\\\\\\*/
nav {
  background-color: rgba(34, 134, 222, 0.5) !important;
}

.navbar-title,
.navbar-logs {
  color: white;
}

.navbar-title:hover,
.navbar-logs:hover {
  color: black;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
}

#nav-top nav {
  padding: 0.5rem 2rem;
  padding-top: 0.5rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  transition: background 0.3s ease-in, color 0.3s ease-in;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-in, ease-in;
  transition-delay: 0s, 0s;
  transition-property: background, color;
}

.navbar-title {
  font-size: 24px;
  width: 90vw;
}

.home-title {
  font-size: 80px;
  font-family: "Roboto", sans-serif !important;
  color: rgba(34, 134, 222, 0.5);
  animation: title 5s linear 2s infinite;
}

@keyframes title {
  from {
    color: rgba(34, 134, 222, 0.5);
  }
  to {
    color: white;
  }
}

.bg-semi-light {
  background-color: rgba(255, 255, 255, 0.5);
}
.text-dark {
  color: #343a40 !important;
}
/*////////////////////// NAV-BAR END \\\\\\\\\\\\\\\\\\\\\\\\*/
/*///////////////////// LOGIN / SIGNUP \\\\\\\\\\\\\\\\\\\\\*/

#login-form,
#signup-form {
  margin: 20vh auto;
  background-color: white;
  width: 30vw;
  padding: 40px 40px 20px 70px;
  border-image: linear-gradient(rgb(94, 57, 205), #075075) 30;
  border-width: 4px;
  border-style: solid;
  box-shadow: 0 0 60px 10px black;
}

#login-button,
#signup-button {
  text-align: right;
}

#login-button button,
#signup-button button {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
}

form > label {
  width: 80px;
}

form > input {
  border: none;
}

/*/////////////////// LOGIN / SIGNUP END \\\\\\\\\\\\\\\\\\\*/
/*//////////////////////// HOME \\\\\\\\\\\\\\\\\\\\\\\\\*/
.home-page,
.folder-page {
  margin: 30px 20px;
}

.home-page-header,
.folder-page-header {
  display: flex;
}

#home-page-title,
#folder-page-title {
  color: white;
  border-bottom: 1px solid white;
  font-size: 24px;
}

.home-page-header > a,
.folder-page-header > a {
  margin-left: 50px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition-duration: 0.5s;
}

.search-artist-bar {
  position: absolute;
  right: 30vw;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 10px;
  min-width: 30px;
}

.search-artist-bar:hover {
  border: 1px solid white;
  box-shadow: 2px 2px 10px 3px rgba(34, 134, 222, 0.8);
  transition-duration: 0.5s;
}

.search-artist-bar > input {
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

.search-artist-bar > button {
  background-color: transparent;
  color: white;
  border-radius: 5px;
  padding: 5px;
  border: none;
  transition-duration: 0.5s;
}

.search-artist-bar:hover > button {
  background-color: rgba(34, 134, 222, 0.8);
  border-radius: 5px;
  padding: 5px;
  border: none;
  transition-duration: 0.5s;
}

.home-page-create-button,
.folder-page-create-button {
  position: absolute;
  right: 5vw;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 10px;
}

.home-page-create-button:hover {
  border: 1px solid white;
  box-shadow: 2px 2px 10px 3px rgba(34, 134, 222, 0.8);
  transition-duration: 0.5s;
}

.goback-home-button {
  border-radius: 5px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
  border: 1px solid transparent;
  transition-duration: 1s;
}

.goback-home-button:hover {
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(34, 134, 222, 0.8);
  box-shadow: 2px 2px 10px 3px rgba(34, 134, 222, 0.8);
  transition-duration: 0.5s;
}

/*////////////////////// HOME END \\\\\\\\\\\\\\\\\\\\\\*/
/*////////////////////// CREATE PLAYLIST \\\\\\\\\\\\\\\\\\\\\\*/

.song-block {
  margin: 20vh auto;
  background-color: rgba(34, 134, 222, 0.3);
  width: 30vw;
  padding: 20px;
  border-image: linear-gradient(rgb(94, 57, 205), #075075) 30;
  border-width: 4px;
  border-style: solid;
  box-shadow: 0 0 60px 10px black;
  color: white;
}

/*////////////////////// CREATE PLAYLIST END \\\\\\\\\\\\\\\\\\\\\\*/

.eachCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 30px;
}

.eachCard a {
  text-decoration: none;
}

.card {
  background-color: transparent;
  width: 15vw;
  height: 330px;
  border: none;
  box-shadow: 0px 5px 5px 2px black;
  border-radius: 5px;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  text-align: center;
  padding: 20px 5px 70px 5px;
  color: rgba(255, 255, 255, 0.3);
  transition-duration: 2s;
  color: white;
}

.card:hover {
  opacity: 0.7;
  transition-duration: 0.5s;
  opacity: 0.7;
  transition-duration: 0.5s;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 5px 5px 2px rgba(34, 134, 222, 0.8);
}

.card:active {
  opacity: 1;
}

/* CARD CARD-EDIT */
.song-block-edit {
  margin: 20vh auto;
  background-color: rgba(34, 134, 222, 0.3);
  width: 50vw;
  padding: 20px;
  border-image: linear-gradient(rgb(94, 57, 205), #075075) 30;
  border-width: 4px;
  border-style: solid;
  box-shadow: 0 0 60px 10px black;
  color: white;
}

.create-name-edit {
  background-color: transparent;
  padding: 5px;
  color: white;
  border-bottom: 1px solid rgba(34, 134, 222, 0.8);
}

.card-edit {
  position: absolute;
  bottom: 1px;
  left: 0;
  font-size: 10px;
  color: transparent;
  background-color: transparent;
  border: none;
  transition-duration: 2s;
}

.card:hover .card-edit {
  transition-duration: 1s;
  color: rgba(255, 255, 255, 0.7);
}

/* CARD CARD-DELETE */
.card-delete {
  position: absolute;
  background-image: url("https://res.cloudinary.com/datglss57/image/upload/v1676980038/inception/delete_jqy2cg.png");
  background-size: cover;
  background-position: -6px;
  top: 5px;
  right: 5px;
  height: 15px;
  width: 15px;
  border: none;
  border-radius: 50%;
  display: none;
}
.card:hover .card-delete {
  display: block;
}

/* CARD CARD-IMAGE */

.image-icon {
  border: 1px solid white;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  padding: 5px;
  background-color: white;
  opacity: 0.3;
  transition-duration: 2s;
}

.card:hover .image-icon {
  transition-duration: 1s;
  background-color: rgba(34, 134, 222, 0.8);
  border: 1px solid rgba(34, 134, 222, 0.8);
  opacity: 1;
}

/* CARD CARD-TITLE */
.card-title {
  font-size: 28px;
  padding-top: 10px;
  margin: 0;
}

.card-title:hover {
  color: white;
}

/*///////////////////// CARD END \\\\\\\\\\\\\\\\\\\\\\\*/
/*/////////////////////// SONG TAB \\\\\\\\\\\\\\\\\\\\\\\\*/
.eachSong {
  margin: 15px auto;
  padding: 5px;
}

.song-tab {
  transition-duration: 2s;
  width: 95vw;
  background-color: transparent;
  border: 1px solid transparent;
  box-shadow: 0px 5px 5px 2px black;
  padding: 5px 20px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  max-height: 70px;
  margin: 5px;
}

.song-tab-artist-image {
  margin: 0 0 0 25px;
  width: 50px;
  height: 50px;
  background-color: white;
}

.song-tab:hover {
  transition-duration: 1s;
  background-color: rgba(34, 134, 222, 0.8);
  border: 1px solid black;
  box-shadow: 0px 5px 5px 2px white;
}

.song-tab-artist,
.song-tab-title {
  margin: 0;
  padding-left: 10px;
  color: white;
}

.song-tab-artist {
  width: 40%;
}

.song-tab-title {
  width: 90%;
}

.song-tab-audio,
.song-by-artist-audio {
  width: 20%;
}

.song-by-artist {
  display: flex;
  margin-left: 50px;
}

.song-by-artist h1 {
  color: white;
  border-bottom: 1px solid white;
  font-size: 24px;
}

.song-by-artist-title {
  width: 40%;
}

.song-by-artist-title {
  margin: 0;
  padding-left: 10px;
  color: white;
}

/*/////////////////////// SONG TAB END \\\\\\\\\\\\\\\\\\\\\\\\*/
/*///////////////////// SEARCH BLOCK \\\\\\\\\\\\\\\\\\\\\\\*/
.search-block {
  width: 95vw;
  margin: 50px auto;
}

.search-block-results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 50px;
}

.search-block-cards {
  background-color: transparent;
  width: 15vw;
  height: 330px;
  border: none;
  box-shadow: 0px 5px 5px 2px black;
  border-radius: 5px;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  text-align: center;
  padding: 20px 5px 70px 5px;
  transition-duration: 2s;
  padding: 20px 0 80px 0;
}

.search-block-cards:hover {
  transition-duration: 0.5s;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 5px 5px 2px rgba(34, 134, 222, 0.8);
}

.search-block-cards:hover .search-block-image {
  transition-duration: 1s;
  background-color: rgba(34, 134, 222, 0.8);
  border: 1px solid rgba(34, 134, 222, 0.8);
  opacity: 0.7;
}

.search-block-image {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  border: 1px solid white;
  padding: 5px;
  background-color: white;
}

.search-block-info {
  margin-top: 30px;
  height: 35%;
}

.search-block-info-title {
  color: rgba(255, 255, 255, 0.3);
  margin: 10px;
  font-size: 20px;
}

.search-block-info-title:hover {
  color: white;
}

.search-block-info-link {
  text-decoration: none;
  padding: 0;
  color: rgba(255, 255, 255, 0.3);
  font-weight: bold;
}

.search-block-cards:hover .search-block-info-link {
  color: white;
}

/*///////////////////// ALBUMS \\\\\\\\\\\\\\\\\\\\\\\*/
.albums {
  text-align: center;
}

.albums__cards {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card__info--title {
  color: white;
  padding: 5px;
}

.albums__cards_each {
  background-color: rgb(143, 143, 143);
  width: 15vw;
  height: 350px;
  display: flex;
  flex-direction: column;
}

.card__info--link {
  background-color: rgba(255, 0, 0, 0.4);
  text-decoration: none;
  position: relative;
  padding: 10px 0;
  bottom: 0;
  color: white;
  font-weight: bold;
}

/*            END ALBUMS              */

/*/////////////////// TRACKS \\\\\\\\\\\\\\\\\\\*/

/* .container__tracks {
  margin: 20vh auto;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  width: 30vw;
  padding: 40px 40px 20px 70px;
  border-image: linear-gradient(rgb(94, 57, 205), #075075) 30;
  border-width: 4px;
  border-style: solid;
  box-shadow: 0 0 60px 10px black;
} */

.create-name {
  background-color: transparent;
  padding: 5px;
  color: white;
  border-bottom: 1px solid rgba(34, 134, 222, 0.8);
}

.create-name:focus {
  border: 1px solid rgba(34, 134, 222, 0.8);
  border-radius: 3px;
  outline: none;
}

.create-button {
  text-align: right;
}

.create-button > button {
  border: 1px solid transparent;
  background-color: transparent;
  color: white;
  transition-duration: 0.5s;
  padding: 10px;
  border-radius: 5px;
}

.create-button > button:hover {
  background-color: rgba(34, 134, 222, 0.8);
  color: white;
  transition-duration: 0.5s;
  border: 1px solid white;
  box-shadow: 2px 2px 10px 3px rgba(34, 134, 222, 0.8);
}

.track__bar {
  display: flex;
  justify-content: flex-start;
  height: 7vh;
  margin: 10px 0;
  padding: 10px 30px;
  align-items: center;
  transition-duration: 0.5s;
  border-radius: 5px;
}

.track__bar:hover {
  background-color: #068348;
  transition-duration: 0.5s;
  box-shadow: 2px 2px 20px 5px black;
}

.track__bar--title {
  width: 45vw;
  color: white;
  font-size: 14px;
  margin: 0;
}

.folder-select {
  padding: 5px;
  background-color: rgb(33, 33, 33, 0.5);
  font-weight: bold;
  color: rgba(34, 134, 222, 0.8);
  border: transparent;
}

.folder-select:hover {
  color: white;
}

.add-song {
  margin: 0 0 0 70px;
  font-size: 12px;
}

.add-song > button {
  border: transparent;
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 16px;
  margin-left: 5px;
}

/*///////////////// END TRACKS \\\\\\\\\\\\\\\\\\*/
