<section class="search-block">

  <div class="search-block-results">
    {{#each items}}
      <div class="search-block-cards">
        <img
          src="{{this.images.0.url}}"
          alt="{{this.name}}"
          class="search-block-image"
        />

        <div class="search-block-info">
          <h3 class="search-block-info-title"> {{this.name}} </h3>
        </div>
        <a href="/albums/{{this.id}}" class="search-block-info-link">View Albums</a>
      </div>
    {{/each}}
  </div>

  <br /><br /><br /><br />
  <a href="/home" class="goback-home-button">HOME</a>
</section>