<section class="container__tracks">

  <div class="search-results">
    {{#each items}}
      <div class="search-block">
        <img
          src="{{this.images.0.url}}"
          alt="{{this.name}}"
          class="search-image"
        />

        <div class="search-card__info">
          <h3 class="search-card__info--title">
            {{this.name}}
          </h3>
        </div>
        <a href="/albums/{{this.id}}" class="search-card__info--link">View
          Albums</a>
      </div>
    {{/each}}
  </div>

  <br /><br /><br /><br />
  <a href="/home" class="goback-home-button">HOME</a>
</section>